


.important-text {
    color:#F0F0F0;
    text-decoration: underline;
  }

  .container {
    display: flex;
    padding: 20px;
    background-color: #f0f0f0;
  }

  .photo-gallery {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
  }

  .photo-container img {
    max-width: 100%;
    height: auto;
    min-width: 300px;
  }

  .navbar-links a {
    color: rgb(249, 249, 249);
    padding: 8px 12px;
    border-radius: 5px; 
  }

  .section-dark {
    background-color: #333333;
    color: #F0F0F0;
    padding: 2em;
  }

  body {
    font-family: 'Open Sans', sans-serif; 
    color: #F0F0F0; 
    background-color: #808080; 
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold;
    margin-bottom: 0.75em;
    line-height: 1.2;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2em;
  }

  #alertMe {
    background-color: black;
    color: lightgrey;
    float: right;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
  }

  #dropdownBox {
    display: none;
    background-color: #f1f1f1;
    color: #333;
    padding: 15px;
    border-radius: 5px;
    float: right;
    clear: both;
    margin: 0 10px 10px 0;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #hoverButton {
    background-color: #2ecc71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  #hoverImageContainer {
    display: none;
    margin-top: 10px;
  }
  
  #hoverImage {
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  